/* ADDRESS CONTAINER*/
#address {
  height: 100vh;
  width: 100%;
  display: flex;
}

/*ADDRESS-DETAILS*/
.address-details {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: end;
  background: linear-gradient(
    126deg,
    rgba(255, 255, 255, 1) 10%,
    rgba(190, 229, 228, 1) 100%
  );
}
/*FORM*/
#addressForm {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
  justify-content: center;
  
}
/*FORM INPUTS*/
#addressForm input:not(#currentAddress),
select {
  padding: 0.6rem;
  margin-top: 1rem;
  margin-right: 1rem;
  border: 0.15rem solid rgb(116, 116, 116);
  background-color: transparent;
}

#birthdayAddress {
  width: 43%;
}
.fieldCurrentAddress {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.fieldCurrentAddress > * {
  padding: 1rem 0;
}
.fieldAddress {
  display: flex;
}
.fieldAddress input,
select {
  flex: 1;
}
.addressBtn input {
  padding: 0.5rem 1.2rem;
}
/*ADDRESS TITLE*/
.addressTitle h2 {
  font-size: 6rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding: 1rem;
}
/*ADDRESS-IMAGE main*/
.address-image {
  background-image: url("../assets/image-step/imagenShipping.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
}


.fieldAddress .resetSection{
  background: rgb(116, 116, 116) !important;
  color: rgba(190, 229, 228, 1);
}

.fieldAddress .nextSection{
  background-color: #8dcfbe !important;
  border: none !important;
}