/*Order container*/
#order {
  height: 100vh;
  /* display: flex; */
}

/*ORDER DETAILS INFO*/
.order-details {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    189deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(190, 229, 228, 1) 100%
  );
}

/*Order details title*/
.order-details-title h2 {
  font-size: 7rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding: 1rem;
}
/*Order details form*/
.order-details-form > * {
  padding: 1rem 0;
}
.orderCheckbox {
  display: flex;
  align-items: center;
}
.orderCheckbox input {
  width: 1.5rem;
  height: 1.5rem;
}

.orderCheckbox > * {
  padding: 0 0.6rem;
}

/*Order form button*/
.orderSubmit input {
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
}
/*Order details content title,size etc...*/
.order-details-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-around;
  font-size: 1.4rem;
}

.order-details-info > * {
  padding: 1rem 0;
}

/*ORDER-IMAGE WITH INFO*/
/*conatiner general order-image*/
.order-image {
  background-color: #94d9cc;
  width: 40%;
  display: flex;
  flex-direction: column;
}
/*Info inside order-image price, total price etc..*/
.order-image-info {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: space-around;
  flex: 1;
}
.order-image-info > * {
  padding: 1rem;
}
/*Image of the step order-image*/
.order-image-mainImg {
  flex: 2;
  background-image: url("../assets/tshirt-back-front/orange-sweatshirt.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
