/* MAIN PRODUCT CONTAINER */
#mainProduct {
  height: 100vh;
  display: flex;
}

/*PRODUCT DETAILS*/
.product-details {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 10%;
  background-color: aliceblue;
  
}
.product-details > * {
  padding: 10px 0;
}
/*product details shop now button*/
.product-details .product-details-shopNow button {
  padding: 10px 20px;
  font-size: 1.5rem;
  letter-spacing: 0.4rem;  background-color: #9ccff37d;

  transition: 0.2s ease-in-out;
}
.product-details .product-details-shopNow button:hover {

  border-color: rgb(57, 56, 56);
  background-color: rgb(141, 210, 208) !important;
  border: none;
  transform: scale(1.05);
}
/*Product details title*/
.product-details h2 {
  font-size: 2rem;
  letter-spacing: 0.8rem;
}
/*Product details price*/
.product-details-price {
  font-size: 2rem;
  color: rgb(246, 48, 48);
}
.product-details-colors {
  display: flex;
  justify-content: center;
}
/*Product-details colors*/
.product-details-colors input {
  display: none;
}
.product-details-colors label {
  border: none;
  width: 2rem;
  height: 2rem;
  margin: 0.2rem;
  cursor: pointer;
}

.product-details-colors input:checked + label {
  border: 3px rgb(134, 133, 133) solid;
}
.product-details-colors .orange {
  background-color: #fcca81;
}
.product-details-colors .green {
  background-color: #b9d29c;
}
.product-details-colors .pink {
  background-color: #e2bce1;
}
.product-details-colors .blue {
  background-color: #9ccff3;
}
/*Product details sizes*/
.product-details-sizes {
  display: flex;
  justify-content: center;
}

.product-details-sizes input {
  display: none;
}
.product-details-sizes input:checked + label {
  border: 3px rgb(135, 134, 134) solid;
}
.product-details-sizes label {
  margin: 0.2rem;
  font-size: 1.2rem;
  width: 2rem;
  cursor: pointer;
}
/*MINIATURE IMAGES*/
.product-details-miniature {
  display: flex;
  padding: 1.5rem 4rem;
  justify-content: space-around;
}

.product-details-miniature .miniature {
  width: 4rem;
  background-color: #9d9d9d5a;
  /*margin-left: 1rem;*/
  border-radius: 0.2rem;
  padding: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.product-details-miniature .miniature:hover{
  transform: scale(1.07);
}
.product-details-miniature .miniature img {
  width: 100%;
  height: 100%;
}
/*PRODUCT IMAGES*/
.product-images {  
  background-color: #9ccff37d;
  /*box-shadow: 5px 5px 40px 50px rgba(190, 229, 228, 1), inset 0px 0px 0px 80px rgba(190, 229, 228, 1);*/
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url("../assets/tshirt-front/orange-sweatshirt.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.intervalTimer {
  display: none;
}
.intervalTimerOver {
  display: none;
}


