/* MAIN PRODUCT CONTAINER */
#mainProduct {
  height: 100vh;
  display: flex;
}

/*PRODUCT DETAILS*/
.product-details {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    189deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(190, 229, 228, 1) 100%
  );
}
.product-details > * {
  padding: 10px 0;
}
/*product details shop now button*/
.product-details .product-details-shopNow button {
  padding: 10px 20px;
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
  background: transparent;
}

/*Product details title*/
.product-details h2 {
  font-size: 2rem;
  letter-spacing: 0.8rem;
}
/*Product details price*/
.product-details-price {
  font-size: 2rem;
  color: rgba(190, 229, 228, 1);
}
/*Product-details colors*/
.product-details-colors button {
  border: none;
  padding: 10px;
}
.product-details-colors .orange {
  background-color: #fcca81;
}
.product-details-colors .green {
  background-color: #b9d29c;
}
.product-details-colors .pink {
  background-color: #e2bce1;
}
.product-details-colors .blue {
  background-color: #9ccff3;
}
/*Product details sizes*/
.product-details-sizes button {
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
}
/*PRODUCT IMAGES*/
.product-images {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url("../assets/pink-sweatshirt.png");

  background-repeat: no-repeat;
  background-size: cover;
}

.interval {
  display: none;
}