/* MAIN PRODUCT CONTAINER */
#mainProduct {
  height: 100vh;
  display: flex;
}

/*PRODUCT DETAILS*/
.product-details {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    189deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(190, 229, 228, 1) 100%
  );
}
.product-details > * {
  padding: 10px 0;
}
/*product details shop now button*/
.product-details .product-details-shopNow button {
  padding: 10px 20px;
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
  background: transparent;
}

/*Product details title*/
.product-details h2 {
  font-size: 2rem;
  letter-spacing: 0.8rem;
}
/*Product details price*/
.product-details-price {
  font-size: 2rem;
  color: rgba(190, 229, 228, 1);
}
.product-details-colors {
  display: flex;
  justify-content: center;
}
/*Product-details colors*/
.product-details-colors input {
  display: none;
}
.product-details-colors label {
  border: none;
  width: 2rem;
  height: 2rem;
  margin: 0.2rem;
  cursor: pointer;
}

.product-details-colors input:checked + label {
  border: 2px solid black;
}
.product-details-colors .orange {
  background-color: #fcca81;
}
.product-details-colors .green {
  background-color: #b9d29c;
}
.product-details-colors .pink {
  background-color: #e2bce1;
}
.product-details-colors .blue {
  background-color: #9ccff3;
}
/*Product details sizes*/
.product-details-sizes {
  display: flex;
  justify-content: center;
}

.product-details-sizes input {
  display: none;
}
.product-details-sizes input:checked + label {
  border: 2px solid black;
}
.product-details-sizes label {
  margin: 0.2rem;
  font-size: 1.2rem;
  width: 2rem;
  cursor: pointer;
}
/*MINIATURE IMAGES*/
.product-details-miniature {
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.product-details-miniature .miniature {
  width: 5rem;
  height: 5rem;
  background-color: #ade6e5;
  margin-left: 1rem;
}
.product-details-miniature .miniature img {
  width: 100%;
  height: 100%;
}
/*PRODUCT IMAGES*/
.product-images {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url("../assets/tshirt-front/orange-sweatshirt.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.intervalTimer {
  display: none;
}
.intervalTimerOver {
  display: none;
}
