/* PROFILE CONTAINER*/
#profile {
  height: 100vh;
  width: auto;
}

/*PROFILE DETAILS*/
.profile-details {
  display: flex;
  width: 60%;
  height: 100%;
  background: linear-gradient( 126deg, rgba(255, 255, 255, 1) 10%, rgba(190, 229, 228, 1) 100% );
  justify-content: end;
}

/*PROFILE LEFT BLOCK - SOCIAL ICONS + PROGRESS BAR*/
.profile-left {
  display: flex;

}

.social-media-icons {
  display: flex;
  justify-content: center;
  writing-mode: vertical-rl;
  padding-right: 10px;
}

.progress-bar {
  display: flex;
  justify-content: center;
  writing-mode: vertical-lr;
  padding-right: 200px;
  rotate: 50%;
}

/*PROFILE RIGTH BLOCK - TITLE + FORM*/
.profile-rigth {
  display: flex;
  margin: auto 0;
}

.profile-title {
  font-size: 6rem;
  letter-spacing: 0.8rem;
  display: flex;
  justify-content: center;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  text-transform: uppercase;
  padding-left: 20px;
  padding-top: 160px;
  font-style: bolder;

}

#formProfile {
  padding: 260px 40px;
  background-color: #8dcfbe;


}

.input-profile {
  margin-top: 15px;
  padding: 8px 100px 8px 8px;
  background-color: transparent;
  border-style: solid;
  border-color: rgb(116, 116, 116);

}

/*PROFILE  SMALL TEXT*/
small {
color: red;
font-size: 0.6rem;
padding-left: 10px;
}

/*PROFILE  BUTTONS BLOCK - CLEAR + NEXT*/
.buttons-block {
  margin: 20px 0;
}

#profile button {
  border: 0;
  
  
}
.clear-btn {
  color: #8dcfbe;
  background-color: gray;
  height: 30px;
  width: auto;
}

.next-btn, .clear-btn {
font-size: 1rem;
padding: 0px 40px;
height: 30px;
width: auto;
}

/*PROFILE IMAGES*/
.profile-images {
  width: 40%;
  height: 100%;
  background-image: url("../assets/profile-address.png");
  background-repeat: no-repeat;
  background-size: cover;
}
