/* PROFILE CONTAINER*/
#profile {
  height: 100vh;
  width: auto;
  display: flex;
}

/*PROFILE DETAILS*/
.profile-details {
  display: flex;
  width: 60%;
  height: 100%;
  background: linear-gradient(
    126deg,
    rgba(255, 255, 255, 1) 10%,
    rgba(190, 229, 228, 1) 100%
  );
  justify-content: end;
}

/*SOCIAL ICONS*/

.social-media-icons {
  display: flex;
  justify-content: center;
  writing-mode: vertical-rl;
  padding-right: 10px;
}


/*TITLE + FORM*/

.profile-title {
  font-size: 7rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
}

#formProfile {
  margin: 250px 60px;
}

.input-profile {
  margin-top: 20px;
  padding: 10px 120px 10px 8px;
  background-color: transparent;
  border-style: solid;
  border-color: rgb(116, 116, 116);
  font-size: 1.1rem;
}

/*PROFILE  SMALL TEXT*/
small {
  color: red;
  font-size: 0.6rem;
  padding-left: 10px;
}

/*PROFILE  BUTTONS BLOCK - CLEAR + NEXT*/
.buttons-block {
  margin: 20px 0;
}

#profile button {
  border: 0;
}
.clear-btn {
  color: #8dcfbe;
  background-color: gray;
  margin-right: 10px;
}

.next-btn,
.clear-btn {
  font-size: 1.1rem;
  padding: 10px 50px;
}

/*PROFILE IMAGES*/
.profile-images {
  width: 40%;
  height: 100%;
  background-image: url("../assets/image-step/imagenShipping.png");
  background-repeat: no-repeat;
  background-size: cover;
}
