@import url(product.css);
@import url(profile.css);
@import url(address.css);
@import url(shipping.css);
@import url(progress.css);
@import url(thankyou.css);
@import url(order.css);
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: gray;
}
/* PRELOAD IMAGES
body:after {
  display: none;
  content: url(../assets/tshirt-front/orange-sweatshirt.png)
    url(../assets/tshirt-front/blue-sweatshirt.png)
    url(../assets/tshirt-front/pink-sweatshirt.png)
    url(../assets/tshirt-back/green-sweatshirt.png)
    url(../assets/tshirt-back/orange-sweatshirt.png)
    url(../assets/tshirt-back/blue-sweatshirt.png)
    url(../assets/tshirt-back/pink-sweatshirt.png)
    url(../assets/tshirt-back/green-sweatshirt.png)
    url(../assets/tshirt-back-front/orange-sweatshirt.png)
    url(../assets/tshirt-back-front/blue-sweatshirt.png)
    url(../assets/tshirt-back-front/pink-sweatshirt.png)
    url(../assets/tshirt-back-front/green-sweatshirt.png);
} */
/*MENU NAVEGADOR*/
.menu-navigation {
  position: fixed;
  height: 10vh;
  /* cursor: pointer; */
}
.menu-navigation ul {
  display: flex;
  list-style: none;
  font-size: 1.2rem;
  padding: 10px;
}

.menu-navigation ul li {
  padding: 10px 30px;
}

/*DISPLAY / HIDE*/
#profile,
#address,
#shipping {
  display: none;
}
