@import url(product.css);
@import url(profile.css);
@import url(address.css);
@import url(shipping.css);
@import url(progress.css);
@import url(thankyou.css);
@import url(order.css);
@import url(alert.css);
@import url(buttons.css);
@import url(menu.css);
@import url(icons.css);
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: gray;
}
body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
/*DISPLAY / HIDE*/
#profile,
#address,
#shipping,
#order,
#thankYou {
  display: none;
}
