/*THANK YOU GENERAL*/
#thankYou {
  height: 100vh;
  width: 100%;
  /* display: flex; */
  font-size: 1.2rem;
}

/*THANK YOU DETAILS*/
.thankYou-details {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    126deg,
    rgba(255, 255, 255, 1) 10%,
    rgba(190, 229, 228, 1) 100%
  );
}

/*thank you details title*/
.thankYou-details-title h2 {
  font-size: 6rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding: 1rem;
}
/*Thank you details content title, price , size color etc...*/
.thankYou-details-content {
  display: flex;
  width: 50%;
  height: 80%;
  flex-direction: column;
  justify-content: center;
}
.thankYou-details-content > div {
  padding: 1rem 0;
}
/*thank you details field 1*/
.thankYou-details-field1 > * {
  padding: 1rem 0;
}
/*thank you details field 2*/
.thankYou-details-field2 {
  display: flex;
}
/*details price field*/
.thankYou-field-price {
  flex: 1;
  padding: 1rem 0;
}
.thankYou-field-price > * {
  padding: 0.2rem 0;
}
/*Than you button*/
.thankYou-details-field3 a {
  text-decoration: none;
}
/* .thankYou-details-field3 button {
  padding: 0.5rem 1rem;
  background-color: #8dcfbe;
  border: none;
} */
/*Thank you details image*/
.thankYou-details-image {
  flex: 2;
  background-image: url("../assets/tshirt-back-front/orange-sweatshirt.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/*THANK YOU IMAGE*/
.thankYou-image {
  width: 40%;
  height: 100vh;
  background-image: url("../assets/image-step/ThankYouImg.png");
  background-size: cover;
}
